<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meal App | Planner</title>
    <link rel="stylesheet" href="../styles/style.css" />
    <script src="../scripts/theme.js" defer></script>
    <script src="../scripts/planner.js" defer></script>
    <script src="../scripts/populateCalendar.js" defer></script>
    <script src="../scripts/calendar.js" defer></script>
    <script src="../scripts/responsive.js" defer></script>
  </head>
  <body class="theme--light">
    <div class="container">
      <!-- Header Section -->
      <header>
        <div class="branding">
          <img
            src="../assets/logo-light.svg"
            alt="Site logo"
            class="logo"
            id="logo-img"
          />
          <button class="nav-toggle-btn toggle-nav">&#8801;</button>
        </div>
        <div class="nav-toggle-group hide-nav">
          <span class="close-nav-btn">&times;</span>
          <nav class="nav-links">
            <a href="/recipes">Recipes</a>
            <a class="current" href="/planner">Planner</a>
            <a href="/groceries">Groceries</a>
            <a href="/login">Login</a>
            <a id="theme-btn" class="theme" href="#">
              <img
                id="theme-icon"
                src="../assets/icon-theme-light.svg"
                alt="theme icon"
              />
              <button class="nav-toggle-btn toggle-nav">&#8801;</button>
            </a>
            <div class="user-login-details">
              <a class="user" href="#"><%= username %></a>
              <a class="user" href="/logout">Logout</a>
            </div>
          </nav>
        </div>
      </header>

      <!-- Hero Section -->
      <section class="hero">
        <h1>Planner</h1>
        <form action="/planner" method="get">
          <input type="date" id="daily-view-date" name="daily-view-date" value="<%= dailyViewDate %>" onchange="this.form.submit()" class="calendar" />
        </form>
      </section>

      <!-- Overview Section -->
      <section class="pinned">
        <div class="page-heading">
          <img
            src="../assets/icon-calendar-light.svg"
            alt="Calendar icon"
            id="cal-icon"
          />
          <h2>Daily Overview</h2>
          <div class="view-change">
            <img
              src="../assets/icon-switch-light.svg"
              alt="Switch icon"
              id="switch-icon"
            />
            <a href="">Change view</a>
          </div>
        </div>

        <div class="calendar-cards cards">
          <div class="card">
            <% for (var i = 0; i < mealplansOnDailyViewDate.length; i++) { %>
              <% if(mealplansOnDailyViewDate[i].meal.type == 'breakfast'){ %>
                <p><%= mealplansOnDailyViewDate[i].meal.name  %></p>
                <!-- <p><%= mealplansOnDailyViewDate[i].meal.type %></p>
                <p><%= mealplansOnDailyViewDate[i].meal.diet_preferences %></p> -->
                <p><%= mealplansOnDailyViewDate[i].meal.recipe.instructions %></p>
                <p><%= JSON.stringify(mealplansOnDailyViewDate[i].meal.recipe.ingredients) %></p>
              <% } %>
            <% } %>
            <div class="info">
              <p>Breakfast</p>
            </div>
          </div>
          <div class="card">
            <% for (var i = 0; i < mealplansOnDailyViewDate.length; i++) { %>
              <% if(mealplansOnDailyViewDate[i].meal.type == 'lunch'){ %>
                <p><%= mealplansOnDailyViewDate[i].meal.name  %></p>
                <!-- <p><%= mealplansOnDailyViewDate[i].meal.type %></p>
                <p><%= mealplansOnDailyViewDate[i].meal.diet_preferences %></p> -->
                <p><%= mealplansOnDailyViewDate[i].meal.recipe.instructions %></p>
                <p><%= JSON.stringify(mealplansOnDailyViewDate[i].meal.recipe.ingredients) %></p>
              <% } %>
            <% } %>
            <div class="info">
              <p>Lunch</p>
            </div>
          </div>
          <div class="card">
            <% for (var i = 0; i < mealplansOnDailyViewDate.length; i++) { %>
              <% if(mealplansOnDailyViewDate[i].meal.type == 'dinner'){ %>
                <p><%= mealplansOnDailyViewDate[i].meal.name  %></p>
                <!-- <p><%= mealplansOnDailyViewDate[i].meal.type %></p>
                <p><%= mealplansOnDailyViewDate[i].meal.diet_preferences %></p> -->
                <p><%= mealplansOnDailyViewDate[i].meal.recipe.instructions %></p>
                <p><%= JSON.stringify(mealplansOnDailyViewDate[i].meal.recipe.ingredients) %></p>
              <% } %>
            <% } %>
            <div class="info">
              <p>Dinner</p>
            </div>
          </div>
        </div>

        <div class="btn-container">
          <button id="add-meal-btn">Add Meal</button>
        </div>
      </section>

      <!-- Main Section -->
      <main id="planner-main">
        <h2>Add to Calendar</h2>
        <input type="date" id="selected-date" value="2023-02-01" />
        <div id="cal-btns" class="btn-container planner">
          <button id="display-cal-btn">Display Calendar</button>
          <button id="update-cal-btn">Update Calendar</button>
        </div>
        <div class="dynamic-calendar"></div>

        <div class="btn-container planner">
          <button id="set-remainder-btn">Set Remainders</button>
        </div>
      </main>

      <!-- Add Meal Pop up -->
      <div class="toggle-popup-display">
        <section class="pop-up-container" id="add-meal-popup">
          <div id="add-meal" class="pop-up">
            <span class="close-btn" id="close-add-meal-popup-btn">&times;</span>
            <p>Add Meal</p>
            <form action="/addMeal" method="post">
              <div class="add-meal-recipe-group">
                <label for="add-meal-recipe">Recipe:</label>
                <select name="add-meal-recipe" id="add-meal-recipe" required>
                  <option value="" selected disabled>-Select a recipe-</option>
                  <% for (var i = 0; i < recipes.length; i++) { %>
                    <option value="<%= recipes[i].id + ',' + recipes[i].name %>">
                      <%= recipes[i].name %>
                    </option>
                  <% } %>
                </select>
              </div>
              <div class="add-meal-type-group">
                <label for="add-meal-type">Meal Type:</label>
                <select name="add-meal-type" id="add-meal-type" required>
                  <option value="" selected disabled>
                    -Select the type of meal-
                  </option>
                  <option value="breakfast">Breakfast</option>
                  <option value="lunch">Lunch</option>
                  <option value="dinner">Dinner</option>
                  <option value="snack">Snack</option>
                  <option value="dessert">Dessert</option>
                </select>
              </div>
              <div class="add-meal-preferences-group">
                <label for="add-meal-preferences">Diet Preferences:</label>
                <select
                  name="add-meal-preferences"
                  id="add-meal-preferences"
                  required
                >
                  <option value="" selected disabled>
                    -Select a diet preference-
                  </option>
                  <option value="none">None</option>
                  <option value="vegetarian">Vegetarian</option>
                  <option value="pescatarian">Pescatarian</option>
                  <option value="vegan">Vegan</option>
                  <option value="gluten free">Gluten Free</option>
                  <option value="dairy free">Dairy Free</option>
                  <option value="halal">Halal</option>
                </select>
              </div>
              <div class="submit-btn">
                <input type="submit" value="Add" />
              </div>
            </form>
          </div>
        </section>
      </div>

      <!-- Add to Calendar Pop up -->
      <div class="toggle-popup-display">
        <section class="pop-up-container" id="add-to-cal-popup">
          <div id="add-to-cal" class="pop-up">
            <span class="close-btn" id="close-add-to-cal-popup-btn"
              >&times;</span
            >
            <p>Add to Calendar</p>
            <form action="/addMealToCalendar" method="post" id="cal-form" onsubmit="setFormSubmitDate()">
              <div class="add-to-cal-date-group">
                <div id="add-to-cal-date" class="box-date">11/03/2023</div>
                <input type="hidden" id="add-to-cal-date-hidden-input" name="add-to-cal-date-hidden-input" value="testvalue">
              </div>
              <div class="add-to-cal-meal-group">
                <label for="add-to-cal-meal">Select a Meal:</label>
                <select
                  name="add-to-cal-meal"
                  id="add-to-cal-meal"
                  required
                >
                  <option value="" selected disabled>-Select a meal-</option>
                  <% for (var i = 0; i < meals.length; i++) { %>
                    <option value="<%= meals[i].id + ',' + meals[i].name %>">
                      <%= meals[i].name %>
                    </option>
                  <% } %>
                </select>
              </div>
              <div class="add-to-cal-time-group">
                <label for="add-to-cal-time">Set the time:</label>
                <input type="time" id="add-to-cal-time" name="add-to-cal-time" required />
              </div>
              <div class="submit-btn">
                <input type="submit" value="Add to Calendar" />
              </div>
            </form>
          </div>
        </section>
      </div>

      <!-- Set Remainders Pop up -->
      <div class="toggle-popup-display">
        <section class="pop-up-container" id="set-remainders-popup">
          <div id="set-remainders" class="pop-up">
            <span class="close-btn" id="close-set-remainders-popup-btn"
              >&times;</span
            >
            <p>Set Remainders</p>
            <form action="#">
              <div class="set-remainders-freq-group">
                <label for="set-remainders-freq">Remainder Frequency:</label>
                <select
                  name="set-remainders-freq"
                  id="set-remainders-freq"
                  required
                >
                  <option value="" selected disabled>
                    -Select a frequency-
                  </option>
                  <option value="hourly">Hourly</option>
                  <option value="daily">Daily</option>
                  <option value="weekly">Weekly</option>
                  <option value="bi-monthly">Bi-Monthly</option>
                  <option value="monthly">Monthly</option>
                </select>
              </div>
              <div class="set-remainders-send-group">
                <label for="set-remainders-send">Send Reminder to:</label>
                <select
                  name="set-remainders-send"
                  id="set-remainders-send"
                  required
                >
                  <option value="" selected disabled>
                    -Select a communication-
                  </option>
                  <option value="text">Text</option>
                  <option value="email">Email</option>
                  <option value="site">Site</option>
                </select>
              </div>
              <div class="submit-btn">
                <input type="submit" value="Remind Me" />
              </div>
            </form>
          </div>
        </section>
      </div>
      <script>
        function setFormSubmitDate() {
          document.getElementById("add-to-cal-date-hidden-input").value = document.getElementById("add-to-cal-date").innerHTML;
          return true;
        };
      </script>

      <!-- Add Meal Result Pop up -->
      <% if (addMealResult) { %>
        <div>
          <section class="pop-up-container" id="add-meal-result-popup">
            <div id="add-meal-result" class="pop-up">
              <span class="close-btn" id="close-meal-result-popup-btn"
                >&times;</span
              >
              <p><%= addMealResult %></p>
            </div>
          </section>
        </div>
      <% } %>

      <!-- Add MealPlan Result Pop up -->
      <% if (addMealPlanResult) { %>
        <div>
          <section class="pop-up-container" id="add-mealplan-result-popup">
            <div id="add-mealplan-result" class="pop-up">
              <span class="close-btn" id="close-mealplan-result-popup-btn"
                >&times;</span
              >
              <p><%= addMealPlanResult %></p>
            </div>
          </section>
        </div>
      <% } %>

    </div>
  </body>
</html>
